<div class="panel panel-default">
  <div class="panel-heading"><a href="https://www.bootply.com/render/96266#" class="pull-right">View all</a> <h4><%= @topic.title %> by <%= @topic.user.name %>へのコメントを編集</h4></div>
  <div class="panel-body">
  <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
  </div>
</div>
