<div class="well">
  <form class="form">
    <h4>メッセージ一覧</h4>
  </form>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>メッセージ</h4>
  </div>
  <div class="panel-body">
    <ul>
      <% @conversations.each do |conversation| %>
        <li>
          <% if conversation.target_user(current_user).present? %>
            <%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation)%>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
