<% if user_signed_in? %>
  <div class="panel panel-default">
    <div class="panel-thumbnail">
      <%= profile_img(user) %>
    </div>
    <div class="panel-body">

      <p class="lead"><%= user.name %></p>
    </div>
  </div>
<% end %>
